<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>drawWithExpand.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>36BCD7401D2F2730008730F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36BCD7541D2F2731008730F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36BCD75F1D2F2731008730F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
